.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.articlesList img {display:block;width:100%;} 
.articlesList .article {position:relative;margin-bottom:20px;}
.articlesList .article .title {position:absolute;z-index:3;bottom:2px;left:5px;right:5px;color:#ffffff;font-weight:700;}
.articlesList .article .section {position:absolute;z-index:3;top:5px;right:5px;color:#ffffff;font-weight:400;border:solid 1px #ffffff;background-color:#000000;line-height:140%;padding:0 3px 0 3px;}
.articlesList .article .favorites {position:absolute;z-index:3;top:5px;left:5px;color:#ffffff;font-weight:700;border:solid 1px transparent;line-height:140%;padding:0 0px 0 0px;opacity:0;cursor:pointer;}
.articlesList .article:hover .favorites {opacity:1;}

