
<div class="articlesList" ng-if="vm.articles" >
	<div ng-repeat="article in vm.articles" ng-if="$index % 3 == 0" class="row" >
	    <div class="col-md-4" >
	    	<div class="article">
		    	<div class="title">{{ vm.articles[$index].title }}</div>
		    	<div class="section" >{{ vm.articles[$index].section_name | section }}</div>
		    	<div class="favorites" ng-click="vm.removeFromFavorites(vm.articles[$index].id)" >Remove from<br/>favourites</div>
		        <div class="image" ><img ng-src="{{ vm.articles[$index].image | imageSize }}" alt="{{ vm.articles[$index].title }}" /></div>
	        </div>
	    </div>
	    <div class="col-md-4" ng-if="vm.articles[$index + 1]" >
	    	<div class="article">
		    	<div class="title">{{ vm.articles[$index + 1].title }}</div>
		    	<div class="section" >{{ vm.articles[$index + 1].section_name | section }}</div>
		    	<div class="favorites" ng-click="vm.removeFromFavorites(vm.articles[$index + 1].id)" >Remove from<br/>favourites</div>
		        <div class="image" ><img ng-src="{{ vm.articles[$index + 1].image | imageSize }}" alt="{{ vm.articles[$index + 1].title }}" /></div>
	        </div>
	    </div>
	    <div class="col-md-4" ng-if="vm.articles[$index + 2]" >
	    	<div class="article">
		    	<div class="title">{{ vm.articles[$index + 2].title }}</div>
		    	<div class="section" >{{ vm.articles[$index + 2].section_name | section }}</div>
		    	<div class="favorites" ng-click="vm.removeFromFavorites(vm.articles[$index + 2].id)" >Remove from<br/>favourites</div>
		        <div class="image" ><img ng-src="{{ vm.articles[$index + 2].image | imageSize }}" alt="{{ vm.articles[$index + 2].title }}" /></div>
	        </div>
	    </div>
	</div>
</div>
<div class="login" ng-if="vm.login" >
	<div class="btn btn-default" ng-click="vm.loginUser()">Login with Google</div>
</div>
